/* @import 'components/form'; */
@import 'components/button';
@import 'components/custom';
@import '~bootstrap/dist/css/bootstrap';
@tailwind base;
@tailwind components;
@tailwind utilities;
@bootstrap;
